<h4>Chatbot</h4>

<button class="btn btn-lg rounded-circle" id="chat-button" (click)="chatboxView = !chatboxView">
  <i class="fa fa-robot"></i>
</button>

<div class="chat-box" *ngIf="chatboxView">
  <div class="mensajes">
    <p class="mensaje-cliente">Hola</p>
    <p class="mensaje-bot">Hola. Soy Alpha Health. ¿En qué puedo ayudarte?</p>
    <p class="mensaje-cliente">Quisiera reservar una cita</p>
  </div>
  <div class="input">
    <form>
      <div class="d-flex justify-content-around align-items-center">
        <input type="text" class="form-control">
        <button class="btn rounded-circle" id="send-button">
          <i class="fa fa-paper-plane"></i>
        </button>
      </div>
    </form>
  </div>
</div>